header{
    border-bottom:1px solid;
    h1{
        text-align: center;
        small{
            display: block;
            font-size: 1rem;
        }
        a{
            color:white;
            text-decoration: none;
        }
    }
}